.DS_Store
# --- macOS ---
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# --- Xcode / iOS ---
xcuserdata/
*.xcuserstate

# Build artifacts
DerivedData/
build/

# Swift Package Manager
.swiftpm/
.build/

# Package managers (використовуй за потреби)
Pods/
Carthage/Build/
